/*Heights*/
.fabric--height--56dp, .fabric--app--bar, .fabric--app--bar--spacing {
  height: 56px;
}

.fabric--height--80dp {
  height: 80px;
}

.fabric--height--8dp {
  height: 8px;
}

.fabric--height--72dp, .fabric--card .fabric--card--header {
  height: 72px;
}

.fabric--height--16dp {
  height: 16px;
}
/*Widths*/
.fabric--width--100, .fabric--app--bar, .fabric--background {
  width: 100%;
}

.fabric--responsive--width--50, .fabric--card {
  float: left;
  max-width: calc(50% - 16px);
  min-width: calc(50% - 16px);
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 16px;
  margin-right: 16px;
}

@media only screen and (max-width: 768px) {
  .fabric--responsive--width--50, .fabric--card {
    max-width: 100%;
    min-width: 100%;
  }

}

/*Placement*/
.fabric--bottom--right {
  bottom: 28px;
  right: 28px;
}

.fabric--top--left {
  top: 28px;
  left: 28px;
}
