/*Heights*/
.fabric--height--56dp, .fabric--app--bar, .fabric--app--bar--spacing {
  height: 56px;
}

.fabric--height--80dp {
  height: 80px;
}

.fabric--height--8dp {
  height: 8px;
}

.fabric--height--72dp, .fabric--card .fabric--card--header {
  height: 72px;
}

.fabric--height--16dp {
  height: 16px;
}
/*Widths*/
.fabric--width--100, .fabric--app--bar, .fabric--background {
  width: 100%;
  overflow: auto;
}

.fabric--card {
  width: inherit;
}

.fabric--responsive--width--50 {
  float: left;
  max-width: calc(50% - 16px);
  min-width: calc(50% - 16px);
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 16px;
  margin-right: 16px;
}

/*Placement*/
.fabric--bottom--right {
  bottom: 28px;
  right: 28px;
}

.fabric--top--left {
  top: 28px;
  left: 28px;
}

.fabric--row {
  width-min: 100%;
  width-max: 100%;
  clear: both;
  padding: 8px;
  badding-bottom: 0px;
}

.fabric--col--12 {
  max-width: calc(100% / 12 * 12 - 16px);
  min-width: calc(100% / 12 * 12 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}

.fabric--col--11 {
  max-width: calc(100% / 12 * 11 - 16px);
  min-width: calc(100% / 12 * 11 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}

.fabric--col--10 {
  max-width: calc(100% / 12 * 10 - 16px);
  min-width: calc(100% / 12 * 10 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}

.fabric--col--9 {
  max-width: calc(100% / 12 * 9 - 16px);
  min-width: calc(100% / 12 * 9 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}

.fabric--col--8 {
  max-width: calc(100% / 12 * 8 - 16px);
  min-width: calc(100% / 12 * 8 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}

.fabric--col--7 {
  max-width: calc(100% / 12 * 7 - 16px);
  min-width: calc(100% / 12 * 7 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}

.fabric--col--6 {
  max-width: calc(100% / 12 * 6 - 16px);
  min-width: calc(100% / 12 * 6 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}

.fabric--col--5 {
  max-width: calc(100% / 12 * 5 - 16px);
  min-width: calc(100% / 12 * 5 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}

.fabric--col--4 {
  max-width: calc(100% / 12 * 4 - 16px);
  min-width: calc(100% / 12 * 4 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}

.fabric--col--3 {
  max-width: calc(100% / 12 * 3 - 16px);
  min-width: calc(100% / 12 * 3 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}

.fabric--col--2 {
  max-width: calc(100% / 12 * 2 - 16px);
  min-width: calc(100% / 12 * 2 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}

.fabric--col--1 {
  max-width: calc(100% / 12 * 1 - 16px);
  min-width: calc(100% / 12 * 1 - 16px);
  padding: 8px;
  padding-bottom: 0px;
  display: inline-block;
  float: left;
}
