.fabric--primary,
.fabric--app--bar,
.fabric--container a,
.fabric--container p,
.fabric--card {
  color: #000000;
  background-color: #ffffff;
}

.fabric--primary--inverted,
.fabric--background {
  color: rgba(255, 255, 255, 0.54);
  background-color: rgba(0, 0, 0, 0.54);
}

.fabric--info {
  color: #00529b !important;
  background-color: #bde5f8 !important;
}

.fabric--info--nobg {
  color: #00529b !important;
}

.fabric--info--inverted {
  color: #bde5f8 !important;
  background-color: #00529b !important;
}

.fabric--success {
  color: #4f8a10 !important;
  background-color: #dff2bf !important;
}

.fabric--success--nobg {
  color: #4f8a10 !important;
}

.fabric--success--inverted {
  color: #dff2bf !important;
  background-color: #4f8a10 !important;
}

.fabric--warning {
  color: #9f6000 !important;
  background-color: #feefb3 !important;
}

.fabric--warning--nobg {
  color: #9f6000 !important;
}

.fabric--warning--inverted {
  color: #feefb3 !important;
  background-color: #9f6000 !important;
}

.fabric--error {
  color: #d8000c !important;
  background-color: #ffd2d2 !important;
}

.fabric--error--nobg {
  color: #d8000c !important;
}

.fabric--error--inverted {
  color: #ffd2d2 !important;
  background-color: #d8000c !important;
}

.fabric--seam,
hr {
  color: black;
  opacity: 0.12;
  line-height: 1px;
  padding: 0px;
  margin: 0px;
  min-height: 1px;
  max-height: 1px;
  border-bottom: 0px solid;
}
