@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.fabric--icon {
  padding: 0px;
  margin: 0px;
}

.fabric--icon img {
  height: 24px;
  width: auto;
  border: 0px solid white;
}

.material-icons{
  font-size: 24px;
}
