.fabric--primary, .fabric--app--bar, .fabric--container a, .fabric--container p, .fabric--card {
  color: #000000;
  background-color: #ffffff;
}

.fabric--primary--inverted, .fabric--background {
  color: rgba(255,255,255,.54);;
  background-color: rgba(0,0,0,.54);
}

.fabric--info {
  color: #00529B;
  background-color: #BDE5F8;
}

.fabric--info--nobg {
  color: #00529B;
}

.fabric--info--inverted {
  color: #BDE5F8;
  background-color: #00529B;
}

.fabric--success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.fabric--success--nobg {
  color: #4F8A10;
}

.fabric--success--inverted {
  color: #DFF2BF;
  background-color: #4F8A10;
}

.fabric--warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.fabric--warning--nobg {
  color: #9F6000;
}

.fabric--warning--inverted {
  color: #FEEFB3;
  background-color: #9F6000;
}

.fabric--error {
  color: #D8000C;
  background-color: #FFD2D2;
}

.fabric--error--nobg {
  color: #D8000C;
}

.fabric--error--inverted {
  color: #FFD2D2;
  background-color: #D8000C;
}

.fabric--seam, hr {
  color: black;
  opacity: .12;
}
