/*
  UI Elements
*/

/*Switch*/
.fabric--switch {
}

/*Card*/
.fabric--card {
  border-radius: 2px;
  height: auto;
}

.fabric--card .fabric--card--header {
  display: inline-block;
}

.fabric--card .fabric--card--header .fabric--icon {
  display: inline-block;
  float: left;
}

.fabric--card .fabric--card--header p {
  background-color: rgba(0, 0, 0, 0);
}

.fabric--card .fabric--card--header .fabric--body--1 {
  opacity: 0.54;
}

.fabric--card .fabric--card--media {
  display: inline-block;
  min-height: 56.25%;
  max-height: 56.25%;
}

.fabric--card .fabric--card--media img {
}

.fabric--card .fabric--card--text {
}

.fabric--card .fabric--card--action--area {
}

.fabric--card .fabric--card--action--area .fabric--button {
}

.fabric--card:active {
}

/*Raised button*/
.fabric--raised--button {
}

.fabric--raised--button:active {
}

/*Search bar*/
.fabric--search--bar {
}

.fabric--search--bar:active {
}

/*Refresh indicator*/
.fabric--refresh--indicator {
}

/*App bar*/
.fabric--app--bar {
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.fabric--app--bar .fabric--title {
  float: left;
}

.fabric--app--bar .material-icons {
}

.fabric--app--bar .fabric--nav--element {
  float: left;
}

.fabric--app--bar ul {
  list-style-type: none;
  overflow: hidden;
}

.fabric--app--bar li {
  float: left;
}

.fabric--app--bar .fabric--button {
}

.fabric--app--bar--spacing {
  position: relative;
  display: block;
  clear: both;
  content: "&nbsp;";
  opacity: 0;
}

/*Floating action button*/
.fabric--fab {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 50%;
}

.fabric--fab .fabric--icon {
}

.fabric--fab:active {
}

/*Snackbar*/
.fabric--snackbar {
}

/*Bottom navigation bar*/
.fabric--bottom--navigation--bar {
}

/*Menu*/
.fabric--menu {
}

/*Submenu*/
.fabric--sub--menu {
}

/*Navigation drawer*/
.fabric--nav--drawer {
}

/*Right drawer*/
.fabric--right--drawer {
}

/*Modal bottom sheet*/
.fabric--modal--bottom--sheet {
}

/*Dialog*/
.fabric--dialog {
}

/*Picker*/
.fabric--picker {
}

/*Data table*/
.fabric--data--table {
}

.fabric--data--table .fabric--row {
  clear: both;
  border: 0px solid white;
  position: relative;
}

.fabric--data--table .fabric--table--header {
  text-align: left;
  float: left;
  line-height: 24px;
}

.fabric--data--table .fabric--text--column {
  text-align: left;
  float: left;
  border-top: 1px solid #eeeeee;
  line-height: 24px;
}

.fabric--data--table .fabric--numeric--column {
  text-align: right;
  float: left;
  border-top: 1px solid #eeeeee;
  line-height: 24px;
}

/*
  Typography elements
*/

.fabric--display--4 {
}

.fabric--display--3 {
}

.fabric--display--2 {
}

.fabric--display--1 {
}

.fabric--headline {
}

.fabric--title {
}

.fabric--subheading {
}

.fabric--body--2 {
}

.fabric--body--1 {
}

.fabric--caption {
}

.fabric--button {
  position: relative;
}

/*Background*/
.fabric--background {
}

.fabric--content {
}

.fabric--anchor {
  opacity: 0;
}
